.c3rq {display:block;margin-bottom:8px;}
.c3rq_quote {padding:12px 0px 2px 10px;text-align:left;font-weight:lighter;letter-spacing:1px;line-height:1.2em;}
.c3rq_author {padding-left:20px;text-align:left;font-weight:lighter;}